<!DOCTYPE html>
<html>
    <head>
        <title>Fibonacci</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
    <div class="content">
        <form id="fform" action="" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="fnumber">Ingrese número:</label><br>
                <input type="text" id="fnumber" name="fnumber"><br>
                <input type="submit" class="btn btn-primary" value="Enviar">
            </div>
        </form>
    </div>
    </body>
</html>